

/* Remove margin and padding for sections */
#about,
#edu {
    background-color: #f4f4f4; /* Background color for the whole page */

    margin: 0;
    padding: 0;
}

/* Existing CSS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} @keyframes SlideInFromUp {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-in-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in-on-scroll.active {
    opacity: 1;
}


@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 5s ease-out;
}

.slide-in-left {
    animation: slideInLeft 2s ease forwards;
    /* Adjust the duration and easing as needed */
    visibility: visible;
}

#exp{
   width: 100%;
    background-image: linear-gradient(277deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(237deg, transparent 0%, transparent 21%,rgba(63, 106, 202,0.08) 21%, rgba(63, 106, 202,0.08) 53%,transparent 53%, transparent 100%),linear-gradient(418deg, transparent 0%, transparent 35%,rgba(63, 106, 202,0.08) 35%, rgba(63, 106, 202,0.08) 91%,transparent 91%, transparent 100%),linear-gradient(220deg, rgb(255,255,255),rgb(255,255,255));    
}

#edu .background-container {
    background-image: linear-gradient(329deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(289deg, transparent 0%, transparent 40%,rgba(63, 106, 202,0.08) 59%, rgba(63, 106, 202,0.08) 50%,transparent 53%, transparent 100%),linear-gradient(470deg, transparent 23%, transparent 65%,rgba(63, 106, 202,0.08) 95%, rgba(63, 106, 202,0.08) 91%,transparent 91%, transparent 100%),linear-gradient(272deg, rgb(255,255,255),rgb(255,255,255));}


    .card-titleedu{
        color: black !important;
        font-size:280%;
        font-weight: bold;
        font-style: italic;
    
    }
    .blended-imagee {
        mix-blend-mode: multiply;
        transform: scale(0.5);

    }
    .blended-imageee {
        margin-left: auto;
        display: block;
        mix-blend-mode: multiply;
        transform: scale(0.5);
    }
   
    
    .image {
        display: block;
        margin-left: auto;
        margin-top: -25%; /* Adjust the negative margin to move the image upward */
        max-width: 30%; /* Set the max-width as per your design */
        height: auto;
        border-radius: 32px 0 32px 0;
        box-shadow: 10px 10px 10px orange;
    }
    .card-description{
        text-align: center;
        margin-right: 45%;
    }
    @media screen and (max-width: 570px) {
        .image {
           margin-bottom: auto;
            width: 100%;
            box-shadow: 5px 5px 5px orange;
    }
     .blended-imagee {
        mix-blend-mode: multiply;
        transform: scale(0.5);
        margin-left: -25%;
    }
    .card-description{
        transform: scale(0.7);
        margin-left: -10%;
        text-align: start;
    }
    }
   
.card-titlee{

    color: black !important;
    font-size:280%;
    font-weight: bold;
    font-style: italic;

}
.card-description{
    color: black !important;
    font-size:100%;
    
    font-style: italic;
}
.blended-image {
    mix-blend-mode: multiply; /* Blending mode */
}

#about {
    background-image: linear-gradient(147deg, transparent 0%, transparent 8%,rgba(63, 106, 202,0.08) 8%, rgba(63, 106, 202,0.08) 46%,transparent 46%, transparent 100%),linear-gradient(107deg, transparent 0%, transparent 21%,rgba(63, 106, 202,0.08) 21%, rgba(63, 106, 202,0.08) 53%,transparent 53%, transparent 100%),linear-gradient(288deg, transparent 0%, transparent 35%,rgba(63, 106, 202,0.08) 35%, rgba(63, 106, 202,0.08) 91%,transparent 91%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));    
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
   padding-top: 20%;
  z-index: 1;
  transform-style: preserve-3d;

}
/* Add a media query for screens with a maximum width of 570px */


/* Custom styles for the card title */
.card-title {
    font-size: 300%;
    font-weight: bold;
    max-width: 100%;
    color: #1e00ff; /* Change the color as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    white-space: nowrap; /* This will prevent the text from wrapping to the next line */
}
.card-text {
    animation: slideInUp 1s ease-out;
    
    font-size: 120%;
    color: #000000a1; /* Change the color as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    
}



.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* spacing between the social icons */
}

/* Social Icon Styles */
.social-icon {
    width: 30px; /* adjust the size of the icons */
    height: 30px;
    transition: transform 0.3s ease-in-out; /* smooth hover transition */
    margin-bottom: 10%;
}

/* Hover Effect */
.social-icon:hover {
    transform: scale(1.2); /* scale the icon on hover */
}

/* Media Query for screens with width <= 570px */
@media (max-width: 570px) {
    .social-links {
        flex-direction: column; /* stack the social icons vertically */
        gap: 10px; /* spacing between the social icons */
    }

    .social-icon {
        width: 40px; /* adjust the size of the icons for smaller screens */
        height: 40px;
    }
}

/* //////////////////////////// */

/* //////////////////////////// */

/* //////////////////////////// */


/* //////////////////////////// */


/* //////////////////////////// */


.nav{
    
    background: transparent;
    backdrop-filter: blur(20px);
    align-items: flex-start;
    
}
.soft-text {
    font-weight: bold;
    font-size: 1.5rem; /* You can adjust the size as per your requirement */
    color: #000000; /* You can adjust the color as per your requirement */
    white-space: nowrap; /* This will prevent the text from wrapping to the next line */

}


@media screen and (max-width: 570px) {
    .soft {
   
        align-items: center;
        }

        .card-title{
            padding-top: 40px;
            transform: scale(0.5);
            /* This will prevent the text from wrapping to the next line */

        }
        .card-text{
       
            transform: scale(0.7);
        }
       
       
        .nav{
            background-color: #fff;
        }
        
    
    }
.footer{
    color: black;
    font-weight: bold;
    background-image: linear-gradient(260deg, transparent 0%, transparent 8%,rgba(63,106,202, 0.39) 8%, rgba(63,106,202, 0.39) 6%,transparent 6%, transparent 100%),linear-gradient(220deg, transparent 0%, transparent 21%,rgba(63,106,202, 0.39) 21%, rgba(63,106,202, 0.39) 53%,transparent 53%, transparent 10%),linear-gradient(401deg, transparent 0%, transparent 35%,rgba(63,106,202, 0.39) 35%, rgba(63,106,202, 0.39) 91%,transparent 91%, transparent 100%),linear-gradient(203deg, rgb(255,255,255),rgb(255,255,255));
    font-size: larger;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-link {
    display: flex;
    align-items: center;
}



#projects article {
    transition: box-shadow 1s ease;
}

#projects article:hover {
    border-radius: 32px 0 32px 0;
    box-shadow: 20px 10px 10px blue;
}

/* Hover effect for the skills container */
.skills-container {
    transition: box-shadow 1s ease;
}
.skills-container:hover {
    border-radius: 32px 0px 32px 0;
    box-shadow: 30px 10px 10px rgba(63, 106, 202, 0.99);
    transition: all 0.3s ease-in-out;
}

/* //////////////////////////// */

/* //////////////////////////// */

/* //////////////////////////// */


/* //////////////////////////// */


/* //////////////////////////// */
.container {
    display: flex;
    justify-content: flex-end;
    /* other styles for the container if needed */
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: scale(1);
}

  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn25 {
    background-image: linear-gradient(
      to right,
      #1f78de00,
      #485563,
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }